.notifications-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
  }
  
  .notifications-list {
    list-style-type: none;
    padding: 0;
    color: blue;
  }
  
  .notification-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    color: blue;
    border-bottom: 1px solid #333;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
  }
  
  .notification-link {
    display: flex;
    align-items: center;
    color: blue;
    text-decoration: none;
    font-weight: 600;
  }
.timestamp{
    margin-left: 5px;
    font-weight: 400;
    color: #333;
    font-size: 13px;
}

  
  .heart-icon {
    margin-right: 10px;
    font-size: 20px;
    color: red; /* Change to your desired heart color */
  }
  .comment-icon {
    margin-right: 10px;
    font-size: 20px; 
    color: aliceblue;
  }
  
  .loading-message {
    color: #777;
    text-align: center;
  }
  