@import './styles/tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IOS'; 
  src: url('./fonts/ios.ttf') format('trutype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Ubuntu','IOS',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
